<app-add-product-form (addProduct)="addProduct($event)"></app-add-product-form>

<p-table #productsTable [value]="products" responsive="scroll" [paginator]="true" [rows]="rowsPerPage"
  [showCurrentPageReport]="true" [(first)]="firstPage" dataKey="id"
  [rowsPerPageOptions]="[1, 3, 5, 10]" [globalFilterFields]="['name', 'company', 'price', 'id']">
  <ng-template pTemplate="caption">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input pInputText type="text" placeholder="search" id="filterByText" name="filterByText"
             (input)="productsTable.filterGlobal($event.target.value, 'contains')" />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" >
        Product name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="company">
        Company name <p-sortIcon field="company"></p-sortIcon>
      </th>
      <th pSortableColumn="price">
        Product price <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th pSortableColumn="id">
        Product id <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th rowspan="2">
        Delete
      </th>
      <th rowspan="2">
        Edit
      </th>
    </tr>
    <tr>
      <th>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-filter"></i></span>
          <input pInputText type="text" placeholder="filter" id="filterByProductName" name="filterByProductName"
                 (input)="productsTable.filter($event.target.value, 'name' ,'contains')" />
        </div>
      </th>
      <th>
        <div class="ui-inputgroup ui-fluid">
          <span class="ui-inputgroup-addon"><i class="pi pi-filter"></i></span>
          <input pInputText type="text" placeholder="filter" id="filterByCompanyName" name="filterByCompanyName"
                 (input)="productsTable.filter($event.target.value, 'company', 'contains')" />
        </div>
      </th>
      <th>
        <div class="ui-inputgroup ui-fluid">
          <span class="ui-inputgroup-addon"><i class="pi pi-filter"></i></span>
          <input type="number" pInputText placeholder="filter" id="filterByProductPrice" name="filterByProductPrice"
                 (input)="productsTable.filter($event.target.value, 'price', 'startsWith')" />
        </div>
      </th>
      <th>
        <div class="ui-inputgroup ui-fluid">
          <span class="ui-inputgroup-addon"><i class="pi pi-filter"></i></span>
          <input type="number" pInputText placeholder="filter" id="filterById" name="filterById"
                 (input)="productsTable.filter($event.target.value, 'id', 'equals')" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td><h4>{{product.name}}</h4></td>
      <td><h4>{{product.company}}</h4></td>
      <td><h4>{{product.price}}</h4></td>
      <td><h4>{{product.id}}</h4></td>
      <td>
        <div class="flex justify-content-center">
          <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="deleteProduct(product.id)"></button>
        </div>
      </td>
      <td>
        <div class="flex justify-content-center">
          <a routerLink="product-details/{{product.id}}">
            <button pButton type="button" icon="pi pi-pencil" class="ui-button-success"></button>
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <h4>Total products: {{products.length}}</h4>
  </ng-template>
</p-table>
